@charset "ISO-8859-1";
html{
  height: 100%;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background: #f2eee3;
}

img {
    max-width: 100%;
    height: auto;
}

hr{
	border-top: 10px solid;
    color: rgba(0,0,0,.2);
    opacity: unset;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

#modal-search-background{
	display: flex;
    justify-content: center;
    align-items: center;
}

.homebtn{
	position: fixed;
    left: 40px;
    top: 140px;
    font-size: 30px;
    background-color: rgba(0,0,0,.5);
    border: 2px solid #03e9f4;
    border-radius: 10px;
    padding: 5px 10px;
    color: #03e9f4;
    display: inline-block;
}
.homebtn:hover {
	background-color: #03e9f4;
	color: rgba(0,0,0,.5);
	border: 2px solid rgba(0,0,0,.5);;
}

.searchbar{
    width: 950px; 
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: 10px;
}

#searchkey{
	width: 100%;
    background: rgba(0,0,0,.1);
    border-style: hidden;
    border-radius: 5px;
    height: 35px;
    font-size: larger;    
}

#searchpopup{
	border: 2px solid #03e9f4;
    width: 85px;
    border-radius: 10px;
}

#searchpopup:hover {
    background: #03e9f4;
  	color: #fff;
 	border-radius: 5px;
  	box-shadow: 0 0 5px #03e9f4,
  	0 0 25px #03e9f4,
  	0 0 50px #03e9f4,
  	0 0 100px #03e9f4;
}

.search {
    width: 950px;
    margin-top: 80px;
    margin-bottom: 50px;
    background-color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.toggleposts {
	border-top-left-radius: 10px;
    position: absolute;
    top: 200px;
    left: 156.5px;
    height: 35px;
    width: 120px;
    background-color: white;
    text-decoration: none;
    color: rgba(0,0,0,.5);
    font-size: x-large;
}
.toggleposts:hover{
	color: rgba(0,0,0,.5);
}

.toggleaccounts {
	border-top-right-radius: 10px;
    position: absolute;
    top: 200px;
    left: 277px;
    height: 35px;
    width: 120px;
    background-color: rgba(0,0,0,.5);
    text-decoration: none;
    padding-top: 5px;
    color: #03e9f4;
}
.toggleaccounts:hover{
	color: #03e9f4;
}

#content-heading{
	display: grid;
	height: 75px;
    padding: 10px;
    text-align: left;
    font-size: xx-large;
    background: rgba(0,0,0,.5);
    color: #03e9f4;
}

#nopostresults{
	padding: 80px;
    height: 180px;
	font-size: xx-large;
    font-style: italic;
}

#noaccountresults{
    font-size: xx-large;
    font-style: italic;
}

.everyaccount{
	min-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: xx-large;
    font-style: italic;
    display: grid;
    align-items: center;
}

.eachaccount{
	background-color: #f2eee3;
    border-style: groove;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}



#propic{
    max-height: 80px;
}

.propicdiv{
	max-height: 80px;
    width: 150px;
    padding: 0;
    text-align: center;
    clip-path: circle();
}

.imgcol {
    width: 400px;
    height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
    display: flex;
}

.button {
	background-color: rgba(0,0,0,.5);;
	border: 2px solid #03e9f4;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: #03e9f4;
	margin-top: 10px;
	display: inline-block;
}
.button:hover {
	background-color: #03e9f4;
	color: rgba(0,0,0,.5);;
	border: 2px solid rgba(0,0,0,.5);;
}

.modal-comments {
	margin-left: auto;
    margin-right: auto;
    max-height: 500px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
 	border-radius: 10px;
 	overflow: auto;
}

.eachcom {
	text-align:center;
	background-color: #f2eee3;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: 10px;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
.close-edit {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	text-decoration: none;
}
.close:hover {
	color:#03e9f4;
}
.close-edit:hover {
	color: #03e9f4;
}


 